{% extends 'base.html'%}
{% block title%}Postlar{% endblock title%}
{% block content %}

<div style="overflow:auto">

    <div class="main">
        {% for  article in object_list %}
        <div class="menu2" style="display: flex; flex-direction: row; padding-top: 10px;">
            <div>  
                {% if article.photo %}
                    <img src="{{ article.photo.url }}" alt="{{ article.title }}" style="max-width: 200px; height: auto;">
                    {% endif %}
            </div>
            <div style="padding-left: 10px;">
                <div >
                    <h5><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h5>
                    <h6>{{ article.summary }} ...<br> <a href="{% url 'article_detail' article.pk %}">Batafsil</a></h6>
                </div>
                <div>
                    <span>muallif {{article.author | title }} . {{ article.date }}</span>
                </div>
            </div>
        </div>  

        {% endfor%} 
    </div>
    <div class="right">
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus accusamus corporis excepturi, in, nisi, eveniet ipsa itaque hic minima et voluptas placeat mollitia quos aperiam exercitationem sequi cum quaerat quia.</p>
      
    </div>
  </div>
  
  <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">azamjonusmon10@gmail.com</div>   
  
 
{% endblock content %}
