[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-crispy-forms = "*"
Pillow = "*"
django-ckeditor = "*"
whitenoise = "==5.1.0"
gunicorn = "==19.9.0"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.environs]
extras = [ "django",]
version = "==8.0.0"
