{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Kalit So'zni esdan chiqardingizmi ?{% endblock title %}
{% block content %}
<div style="padding: 50px; width: 100%; display: flex; align-items: center; flex-direction: column;">
<h2>Kalit So'zni esdan chiqardingizmi ?</h2>
<p>Quyida email manzilingizni kiriting , biz sizga kalit so'zni 
    tiklash uchun qo'lanma yuboramiz ! </p>
<form method="post"  style="width: 70%;">{% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Yuborish</button>
</form>
</div>
{% endblock content %}